<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- This one APK runs on phones/tablets AND Android TV / Google TV.
         Declaring these features as not required (rather than adding a
         second module/flavor) is the standard way to make a single app
         installable from both the phone Play Store listing and the
         Android TV launcher. -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/tv_banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeviceAuthDemo">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DeviceAuthDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- android.intent.category.LEANBACK_LAUNCHER is what makes
                 this app show up on the Android TV / Google TV home screen
                 launcher (using the banner above), instead of just being
                 sideloadable. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
